<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Error | Identity and Access</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    
    <link rel="stylesheet" href="/css/error.css">
  </head>
  <body>

    <div class="header">
      <div class="top-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">Identity and Access</a>

        <!--
            <ul class="pure-menu-list">
              <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Home</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Tour</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sign Up</a></li>
            </ul>
            -->
      </div>
    </div>
    
    <div class="error-page container">
      <div class="error-inner">
        <h1>Error</h1>
        <ul class="errors-list">
          {% for error in errors %}
          <li class="errors-item">
            {{ error }}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </body>
</html>
