@import '_pure';
@import '_grids-responsive';
@import '_vars';

html, body, * {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, label {
    color: $text-dark;
}

.button-success,
.button-error {
    color: #fff;
}

.button-success {
    background: rgb(28, 184, 65);
}

.button-error {
    background: rgb(202, 60, 60);
}