@import '_vars';

.top-menu {
    background: $bg-dark;
    padding: 0.5em;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);

    .pure-menu-heading {
        color: white;
        font-weight: 400;
        font-size: 120%;
    }

    ul {
        float: right;
    }

    a {
        color: $highlight;

        &:hover {
            background: none;
            border: none;
        }
    }

    .pure-menu-selected {
        .pure-menu-link {
            color: #fff;
        }
    }
}

.pure-menu-fixed {
    border-bottom: none;
    z-index: 4;
}
