@import '_base';
@import '_vars';
@import '_header';

.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 1em 0;
    text-align: center;
    border-bottom: 1px solid $highlight;
    padding-bottom: 8px;
}

.content-box {
    padding: 2em;
}

.form-single {
    background: $highlight;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    .form-inner {
        flex: 1;
        width: 100%;
        background: #fff;
    }

    .actions {
        display: flex;
        
        > button {
            flex: 1 0 50%;

            &:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            &:last-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}

.permissions-list {
    list-style-type: none;

    .permission-item {
        line-height: 32px;

        input[type="checkbox"] {
            margin-right: 12px;
        }
    }
}
