@import '_base';
@import '_vars';
@import '_header';

.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;

    .error-inner {
        flex: 0 0 50%;
        min-width: 350px;
    }
}