@import '_base';
@import '_vars';
@import '_header';

// TODO: Make this look good for real
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 1em 0;
    text-align: center;
    border-bottom: 1px solid $highlight;
    padding-bottom: 8px;
}

.content-box {
    padding: 2em;
}
