<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Authorize {{app.name}} | Identity and Access</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/assets/css/authorize.css">
  </head>
  <body>

    <div class="header">
      <div class="top-menu pure-menu pure-menu-horizontal">
        <a class="pure-menu-heading" href="/">Identity and Access</a>

        <!--
        <ul class="pure-menu-list">
          <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Home</a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">Tour</a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sign Up</a></li>
        </ul>
        -->
      </div>
    </div>

    <div class="form-single container">
      <div class="form-inner">
        <h2 class="content-head">Authorize {{app.name}}</h2>

          <div class="pure-g">
            <div class="content-box pure-u-1 pure-u-md-1-2">
              <h4>Grant Permissions:</h4>

              <p>{{app.name}} has requested access to the following information.
                Do you approve?</p>

              <form method="POST" action="/oauth2/authorize">

                <input type="hidden" name="client_id" value="{{client-id}}">
                <input type="hidden" name="redirect_uri" value="{{redirect-uri}}">
                <input type="hidden" name="response_type" value="{{response-type}}">
                {% if state %}<input type="hidden" name="state" value="{{state}}">{% endif %}
                <input type="hidden" name="nonce" value="{{nonce}}">

                <ul class="permissions-list">
                  {% for scope in scopes %}
                  <li class="permission-item">
                     <label for="scope-{{scope.scope|safe-id}}">
                       <input id="scope-{{scope.scope|safe-id}}"
                              name="scope"
                              value="{{scope.scope}}"
                              type="checkbox"
                              checked="checked"> {{scope.description|capitalize}}
                     </label>
                  </li>
                  {% endfor %}
                </ul>

                <div class="actions">
                  <button type="submit"
                          id="action-authorize"
                          name="authorized"
                          value="true"
                          class="pure-button button-success">Authorize</button>
                  <button type="submit"
                          id="action-deny"
                          name="authorized"
                          value="false"
                          class="pure-button button-error">Deny</button>
                </div>
              </form>
            </div>

            <div class="content-box pure-u-1 pure-u-md-1-2">
              <h4>Details</h4>
              <p>The application, {{app.name}} has requested access to some of your
                data. Please review the permissions on the right and choose which you would
                like to allow. Please note that the application may not work as expected when
                you do not grant all requested permissions.</p>
            </div>
          </div>
      </div>
    </div>

    <script src="/assets/js/authorize.js"></script>
  </body>
</html>
